@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Bienvenue sur le site du Ministère de l'Intérieur</h4>
    <p>Dédié aux démarches d'enregistrement des naissances.</p>
</div>

