@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row align-items-center">
        <!-- Image à gauche -->
        <div class="col-md-4 text-center">
            <img src="~/images/DrapeauRdc.png" alt="Image gauche" class="img-fluid" style="max-height: 200px;" />
        </div>

        <!-- Message au centre -->
        <div class="col-md-4 text-center">
            <h4 class="display-6">Bienvenue sur le site du Ministère de l'Intérieur</h4>
            <p>Dédié aux démarches d'enregistrement des naissances.</p>
        </div>

        <!-- Image à droite -->
        <div class="col-md-4 text-center">
            <img src="~/images/ArmoirieRdc.png" alt="Image droite" class="img-fluid" style="max-height: 200px;" />
        </div>
    </div>
</div>
