@model WebAppliNaissance.Models.Declarant

@{
    ViewData["Title"] = "Créer un nouveau Déclarant";
}

<h1>@ViewData["Title"]</h1>

<h4>Déclarant</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Adresse" class="control-label"></label>
                <input asp-for="Adresse" class="form-control" />
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CNI" class="control-label"></label>
                <input asp-for="CNI" class="form-control" />
                <span asp-validation-for="CNI" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LienAvecEnfant" class="control-label"></label>
                <input asp-for="LienAvecEnfant" class="form-control" />
                <span asp-validation-for="LienAvecEnfant" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Créer</button>
                <a asp-action="Index" class="btn btn-secondary">Annuler</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
